<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert = "~{index :: meta}">
</head>

<body>

  <div th:replace = "~{index :: header}"></div>

  <div class="container-fluid row">
   
    <div th:replace = "~{index :: menu}"></div>

    <div class="col-md-9 col-lg-10 ms-sm-auto p-md-4">

      <h4>Benefici&aacute;rios</h4>  

      <hr class="my-3" />

      <table class="table table-striped table-sm">

        <thead>
          <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Nascimento</th>
          </tr>
        </thead>

        <tbody>
          <tr th:if="${lista.empty}">
            <td colspan="2">Sem benefici&aacute;rios</td>
          </tr>
			
          <tr th:each="ben : ${lista}">
            <td><span th:text="${ben.cpf}"> CPF </span></td>
            <td><span th:text="${ben.nome}"> Nome </span></td>
            <td><span th:text="${ben.nascimentoData}"> Nascimento </span></td>
          </tr>
        </tbody>

      </table>

    </div>
  
  </div>

</body>

</html>
