<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert = "~{index :: meta}">
</head>

<body>

  <div th:replace = "~{index :: header}"></div>

  <div class="container-fluid row">
   
    <div th:replace = "~{index :: menu}"></div>

    <div class="col-md-9 col-lg-10 ms-sm-auto p-md-4">

      <h4 class="shadow p-3 mb-3 bg-body-tertiary rounded">Configura&ccedil;&otilde;es</h4>  

      <hr class="my-3" />

      <p th:utext="${emsg} != null ? #{app.error(${emsg})} : ''"></p>

      <h5>LOCALE</h5>
      
      <p th:text="${#locale}">LOCALE</p>

      <h5>DATA-HORA</h5>
       
       <p th:text="${#calendars.format(#execInfo.now,'dd MMMM yyyy HH:mm:ss')}">INFO</p>

      <h5>CONTEXT</h5>

      <p th:text="${#ctx}">CTX</p>

<!-- 
      <p>INFO = <span th:text="${#messages.msg('error.notfound','x')}">INFO</span></p>

      <table class="table table-striped table-sm">

        <thead>
          <tr>
            <th scope="col">V1</th>
            <th scope="col">V2</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="v : ${#vars}">
            <td><span th:text="${v}"> v1 </span></td>
            <td><span th:text="${v}"> v2 </span></td>
          </tr>
        </tbody>

      </table>
-->
    </div>
  
  </div>

</body>

</html>
