<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert = "~{index :: meta}">
</head>

<body>

  <div th:replace = "~{index :: header}"></div>

  <div class="container-fluid row">
   
    <div th:replace = "~{index :: menu}"></div>

    <div class="col-md-9 col-lg-10 ms-sm-auto p-md-4">

      <h4 class="shadow p-3 mb-3 bg-body-tertiary rounded">Contratos</h4>  

      <hr class="my-3" />

      <table class="table table-striped table-sm">

        <thead>
          <tr>
            <th scope="col">...</th>
            <th scope="col">ID</th>
            <th scope="col">OCS</th>
            <th scope="col" class="text-center">In&iacute;cio</th>
            <th scope="col" class="text-center">T&eacute;rmino</th>
            <th scope="col" class="text-end">CH</th>
          </tr>
        </thead>

        <tbody>
          <tr th:if="${allContratos.empty}">
            <td colspan="6">Sem contratos</td>
          </tr>
			
          <tr th:each="cont : ${allContratos}">
            <td>
              <a th:href="@{/contratos/delete(id=${cont.id})}">
                <i class="bi bi-trash" style="font-size: 1rem; color: cornflowerblue;" title="Excluir"></i>
              </a>
            </td>
            <td><a th:href="@{/contratos(id=${cont.id})}" title="Editar">[[${cont.id}]]</a></td>
            <td><span th:text="${cont.ocs.descricao}"> OCS </span></td>
            <td class="text-center"><span th:text="${#temporals.format(cont.inicioData, 'dd/MM/yyyy')}"> Inicio </span></td>
            <td class="text-center"><span th:text="${#temporals.format(cont.terminoData, 'dd/MM/yyyy')}"> Termino </span></td>
            <td class="text-end" th:text="${cont.chQtd}"> CH </td>
          </tr>
        </tbody>

        <tfoot><tr><td colspan="6"><small th:text="${'Total de contratos = ' + allContratos.size}">0</small></td></tr></tfoot>

      </table>

      <h5 class="shadow-sm p-3 my-3 bg-body-tertiary rounded">Editar Contrato</h5>

      <hr class="my-3" />

      <form action="#" th:action="@{/contratos/save}" th:object="${contrato}" method="post">

        <input type="hidden" th:field="*{id}"/>
          
        <div class="form-group row mt-1">
          <label for="ocs.cnpj" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{contrato.ocs}">OCS</span></strong>
          </label>
          <div class="col-sm-4">
            <select th:field="*{ocs.cnpj}" class="form-select">
              <option selected value="">--- Selecione ---</option>
              <option th:each="ocs : ${listOcs}" th:value="${ocs.cnpj}" th:text="${ocs.descricao}">OCS</option>
            </select>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('ocs.cnpj')}" th:errors="*{ocs.cnpj}" class="text-danger">Erro de OCS</small>
          </div>
        </div>
          
        <div class="form-group row mt-1">
          <label for="inicioData" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{contrato.inicioData}"><strong>In&iacute;cio</strong></span></strong>
          </label>
          <div class="col-sm-2">
            <input type="date" th:field="*{inicioData}" th:errorclass="text-danger" class="form-control"/>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('inicioData')}" th:errors="*{inicioData}" class="text-danger">Erro de data</small>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="terminoData" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{contrato.terminoData}"><strong>T&eacute;rmino</strong></span></strong>
          </label>
          <div class="col-sm-2">
            <input type="date" th:field="*{terminoData}" th:errorclass="text-danger" class="form-control"/>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('terminoData')}" th:errors="*{terminoData}" class="text-danger">Erro de data</small>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="chValor" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{contrato.chQtd}">CH</span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{chQtd}" th:errorclass="text-danger" class="form-control"/>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('chQtd')}" th:errors="*{chQtd}" class="text-danger">Erro de CH</small>
          </div>
        </div>
          
        <hr class="my-3" />

        <div class="submit text-center">
          <button type="submit" class="btn btn-primary my-3" name="save" th:text="#{contrato.save}">Novo</button>
        </div>
                  
      </form>
      
    </div>
  
  </div>

</body>

</html>
