<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert = "~{index :: meta}">
</head>

<body>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
 	   formatDate('inicioData');
	   formatDate('terminoData');
    });
  </script>

  <div th:replace = "~{index :: header}"></div>

  <div class="container-fluid row">
   
    <div th:replace = "~{index :: menu}"></div>

    <div class="col-md-9 col-lg-10 ms-sm-auto p-md-4">

      <h4>Contratos</h4>  

      <hr class="my-3" />

      <table class="table table-striped table-sm">

        <thead>
          <tr>
            <th scope="col">...</th>
            <th scope="col">ID</th>
            <th scope="col">OCS</th>
            <th scope="col">In&iacute;cio</th>
            <th scope="col">T&eacute;rmino</th>
            <th scope="col">CH (Valor)</th>
          </tr>
        </thead>

        <tbody>
          <tr th:if="${allContratos.empty}">
            <td colspan="6">Sem contratos</td>
          </tr>
			
          <tr th:each="cont : ${allContratos}">
            <td>
              <a th:href="@{/contratos/delete(id=${cont.id})}">
                <i class="bi bi-trash" style="font-size: 1rem; color: cornflowerblue;" title="Excluir"></i>
              </a>
            </td>
            <td><a th:href="@{/contratos(id=${cont.id})}" title="Editar">[[${cont.id}]]</a></td>
            <td><span th:text="${cont.ocs.descricao}"> OCS </span></td>
            <td><span th:text="${#temporals.format(cont.inicioData, 'dd/MM/yyyy')}"> Inicio </span></td>
            <td><span th:text="${#temporals.format(cont.terminoData, 'dd/MM/yyyy')}"> Termino </span></td>
            <td th:text="${#numbers.formatDecimal(cont.chValor,1,2,'COMMA')}"></td>
          </tr>
        </tbody>

      </table>

      <h5>Adicionar Contrato</h5>

      <hr class="my-3" />

      <form action="#" th:action="@{/contratos/save}" th:object="${contrato}" method="post">

        <input type="hidden" th:field="*{id}"/>
          
        <ul th:if="${#fields.hasErrors('*')}" class="error">
          <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Erros no formul&aacute;rio</li>
        </ul>

        <div class="form-group row mt-1">
          <label for="ocs.cnpj" class="col-sm-1 form-label my-1">
            <strong><span th:text="#{contrato.ocs.cnpj}">CNPJ</span></strong>
          </label>
          <div class="col-sm-6">
            <select th:field="*{ocs.cnpj}" class="form-select">
              <option selected value="">--- Selecione uma Organização de Saúde ---</option>
              <option th:each="ocs : ${listOcs}" th:value="${ocs.cnpj}" th:text="${ocs.descricao}">OCS</option>
            </select>
          </div>
        </div>
          
        <div class="form-group row mt-1">
          <label for="inicioData" class="col-sm-1 form-label my-1">
            <strong><span th:text="#{contrato.inicioData}"><strong>In&iacute;cio</strong></span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{inicioData}" th:errorclass="error" maxlength="10"  class="form-control"/>
            (<span th:text="#{date.format}">DD/MM/YYYY</span>)
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="finalata" class="col-sm-1 form-label my-1">
            <strong><span th:text="#{contrato.terminoData}"><strong>T&eacute;rmino</strong></span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{terminoData}" th:errorclass="error" maxlength="10"  class="form-control"/>
            (<span th:text="#{date.format}">DD/MM/YYYY</span>)
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="chValor" class="col-sm-1 form-label my-1">
            <strong><span th:text="#{contrato.chValor}">CH</span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{chValor}" th:errorclass="error" maxlength="6" class="form-control"/>
          </div>
        </div>
          
        <div class="submit">
          <button type="submit" class="btn btn-primary my-3" name="save" th:text="#{contrato.save}">Novo</button>
        </div>
                  
      </form>
      
    </div>
  
  </div>

</body>

<script src="../js/macedonia.js" th:src="@{/js/macedonia.js}" ></script>

</html>
