<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert = "~{index :: meta}">
</head>

<body>

  <div th:replace = "~{index :: header}"></div>

  <div class="container-fluid row">
   
    <div th:replace = "~{index :: menu}"></div>

    <div class="col-md-9 col-lg-10 ms-sm-auto p-md-4">

      <h4 class="shadow p-3 mb-3 bg-body-tertiary rounded">Di&aacute;rias &amp; Taxas Hospitalares</h4>

      <hr class="my-3" />

      <table class="table table-striped table-sm">

        <thead>
          <tr>
            <th scope="col">...</th>
            <th scope="col">C&oacute;digo</th>
            <th scope="col">Descri&ccedil;&atilde;o</th>
            <th scope="col">OCS</th>
            <th scope="col">Unidade de Medida</th>
            <th scope="col" class="text-center">Valor Unit&aacute;rio</th>
          </tr>
        </thead>

        <tbody>
          <tr th:if="${allDth.empty}">
            <td colspan="6">Sem Di&aacute;rias e Taxas</td>
          </tr>
			
          <tr th:each="dth : ${allDth}">
            <td>
              <a th:href="@{/dth/delete(id=${dth.id})}">
                <i class="bi bi-trash" style="font-size: 1rem; color: cornflowerblue;" title="Excluir"></i>
              </a>
            </td>
            <td><a th:href="@{/dth(id=${dth.id})}" title="Editar">[[${dth.dotCodigo}]]</a></td>
            <td><span th:text="${dth.descricao}"> Descricao </span></td>
            <td><span th:text="${dth.ocs.descricao}"> OCS </span></td>
            <td><span th:text="${dth.unidadeMedida}"> Unidade </span></td>
            <td class="text-end"><span th:text="${'R$ ' + #numbers.formatDecimal(dth.valorUnitario,1,2,'COMMA')}"> Valor </span></td>
          </tr>
        </tbody>

      </table>

      <h5 class="shadow-sm p-3 my-3 bg-body-tertiary rounded">Editar Di&aacute;ria &amp; Taxa Hospitalar</h5>

      <hr class="my-3" />

      <form action="#" th:action="@{/dth/save}" th:object="${dth}" method="post">
          
        <input type="hidden" th:field="*{id}"/>

        <ul th:if="${#fields.hasErrors('*')}" class="error">
          <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Erros no formul&aacute;rio</li>
        </ul>

        <div class="form-group row mt-1">
          <label for="codigo" class="col-sm-2 form-label my-1">
            <strong><span th:text="#{dth.codigo}">Codigo</span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{codigo}" th:errorclass="error" maxlength="8" class="form-control"/>
          </div>
        </div>
          
        <div class="form-group row mt-1">
          <label for="descricao" class="col-sm-2 form-label my-1">
            <strong><span th:text="#{dth.descricao}">Descricao</span></strong>
          </label>
          <div class="col-sm-6">
            <input type="text" th:field="*{descricao}" th:errorclass="error" maxlength="255" class="form-control"/>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="unidadeMedida" class="col-sm-2 form-label my-1">
            <strong><span th:text="#{dth.unidadeMedida}">Unidade</span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{unidadeMedida}" th:errorclass="error" maxlength="30" class="form-control"/>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="valorUnitario" class="col-sm-2 form-label my-1">
            <strong><span th:text="#{dth.valorUnitario}">Valor</span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{valorUnitario}" th:errorclass="error" maxlength="11" class="form-control"/>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="cnpj" class="col-sm-2 form-label my-1">
            <strong><span th:text="#{dth.ocs}">CNPJ</span></strong>
          </label>
          <div class="col-sm-6">
            <select th:field="*{ocs.cnpj}" class="form-select">
              <option selected value="">--- Selecione ---</option>
              <option th:each="ocs : ${allOcs}" th:value="${ocs.cnpj}" th:text="${ocs.descricao}">OCS</option>
            </select>
          </div>
        </div>
         
        <div class="submit">
          <button type="submit" class="btn btn-primary my-3" name="save" th:text="#{dth.save}">Novo</button>
        </div>
                  
      </form>
      
    </div>
  
  </div>

</body>

</html>
