<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert = "~{index :: meta}">
</head>

<body>

  <div th:replace = "~{index :: header}"></div>

  <div class="container-fluid row">
   
    <div th:replace = "~{index :: menu}"></div>

    <div class="col-md-9 col-lg-10 ms-sm-auto p-md-4">

      <div th:replace="~{list-title :: div-content(#{ocs.titulo})}"></div>

      <table class="table table-striped table-sm">

        <thead>
          <tr>
            <th scope="col">...</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Descri&ccedil;&atilde;o</th>
            <th scope="col">Tipo</th>
            <th scope="col">Munic&iacute;pio</th>
            <th scope="col"><a href="#" th:href="@{/dth}" title="Lista de diárias">Di&aacute;ria(s) e Taxa(s)</a></th>
            <th scope="col"><a href="#" th:href="@{/procedimentos}" title="Lista de procedimentos">Procedimento(s) M&eacute;dico(s)</a></th>
          </tr>
        </thead>

        <tbody>
          <tr th:if="${allOcs.empty}">
            <td colspan="7">Sem Estabelecimentos de Sa&uacute;de</td>
          </tr>
			
          <tr th:each="ocs : ${allOcs}">
            <td>
              <form th:action="@{/ocs}" method="post" class="d-inline">
                <input type="hidden" name="id" th:value="${ocs.id}" />
                <button type="submit" name="delete" class="btn btn-sm">
                  <i class="bi bi-trash" style="font-size: 1rem; color: cornflowerblue;" title="Excluir"></i>
                </button>
              </form>
            </td>
            <td><a th:href="@{/ocs(id=${ocs.id})} + '#editar'" th:title="Editar" th:text="${T(br.com.wagnersoft.macedonia.util.CnpjHelper).format(ocs.cnpj)}"></a></td>
            <td><span th:text="${ocs.descricao}"> Descricao </span></td>
            <td><span th:text="${tipoOcsMap[ocs.especialidade]}"> Tipo </span></td>
            <td><span th:text="${ocs.municipio + ' - ' + ocs.uf}"> Municipio </span></td>
            <td>
              <table class="table table-striped table-sm">
                <tr th:each="dth : ${ocs.dths}">
                  <td th:text="${dth.descricao}"></td>
                  <td th:text="${unidadeMedidaMap[dth.unidadeMedida]}"></td>
                  <td th:text="${'R$ ' +#numbers.formatDecimal(dth.valorUnitario,1,2,'COMMA')}"></td>
                </tr>
              </table>
            </td>
            <td class="text-center"><a th:href="@{ocspm(ocsid=${ocs.id})}" href="#" title="Lista de procedimentos">Total = <span th:text="${ocs.procedimentos.size()}">0</span></a></td>
          </tr>
        </tbody>

        <tfoot><tr><td colspan="7"><small th:text="${'Total de estabelecimentos = ' + allOcs.size()}">0</small></td></tr></tfoot>

      </table>

      <div th:replace="~{edit-title :: div-title(#{ocs.editar})}"></div>

      <form action="#" th:action="@{/ocs}" th:object="${ocs}" method="post">

        <input type="hidden" th:field="*{id}"/>
          
        <div class="form-group row mt-1">
          <label for="cnpj" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.cnpj}">CNPJ</span></strong>
          </label>
          <div class="col-sm-3">
            <input type="text" th:field="*{cnpj}" th:errorclass="error" maxlength="15" class="form-control"/>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}" class="text-danger">Erro de OCS</small>
          </div>
        </div>
          
        <div class="form-group row mt-1">
          <label for="descricao" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.descricao}">Descricao</span></strong>
          </label>
          <div class="col-sm-6">
            <input type="text" th:field="*{descricao}" th:errorclass="error" maxlength="255" class="form-control"/>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="text-danger">Erro de descricao</small>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="especialidade" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.especialidade}"><strong>Especialidade</strong></span></strong>
          </label>
          <div class="col-sm-4">
            <select th:field="*{especialidade}" class="form-select">
              <option selected value="">--- Selecione ---</option>
              <option th:each="t : ${tipoOcsMap}" th:value="${t.key}" th:text="${t.value}"> Especialidade </option>
            </select>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('especialidade')}" th:errors="*{especialidade}" class="text-danger">Erro de Especialidade</small>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="endereco" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.endereco}"><strong>Endereço</strong></span></strong>
          </label>
          <div class="col-sm-6">
            <input type="text" th:field="*{endereco}" th:errorclass="error" maxlength="100"  class="form-control"/>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="numero" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.numero}"><strong>numero</strong></span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{numero}" th:errorclass="error" maxlength="5"  class="form-control"/>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="complemento" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.complemento}"><strong>Complemento</strong></span></strong>
          </label>
          <div class="col-sm-4">
            <input type="text" th:field="*{complemento}" th:errorclass="error" maxlength="30"  class="form-control"/>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="municipio" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.municipio}"><strong>municipio</strong></span></strong>
          </label>
          <div class="col-sm-6">
            <input type="text" th:field="*{municipio}" th:errorclass="error" maxlength="70"  class="form-control"/>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="uf" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.uf}"><strong>UF</strong></span></strong>
          </label>
          <div class="col-sm-2">
            <select th:field="*{uf}" class="form-select">
              <option selected value="">--- UF ---</option>
              <option th:each="uf : ${allUf}" th:value="${uf}" th:text="${uf}"> UF </option>
            </select>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="telefone" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.telefone}"><strong>Telefone</strong></span></strong>
          </label>
          <div class="col-sm-3">
            <input type="text" th:field="*{telefone}" th:errorclass="error" maxlength="15"  class="form-control"/>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="contato" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.contato}"><strong>contato</strong></span></strong>
          </label>
          <div class="col-sm-4">
            <input type="text" th:field="*{contato}" th:errorclass="error" maxlength="15"  class="form-control"/>
          </div>
        </div>

        <div class="form-group row mt-1">
        
          <label for="procedimentos" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{ocs.procedimentos}"><strong>Procedimentos</strong></span></strong>
          </label>
          
          <div class="col-sm-10">

          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Descri&ccedil;&atilde;o</th>
                <th>Unidade</th>
                <th>Valor</th>
                <th>CH</th>
                <th><button type="submit" class="btn btn-sm btn-success" name="addRow"><i class="bi bi-plus" style="color: white;" title="Incluir"></i></button></th>
              </tr>
            </thead>
            <tbody>
                <tr th:each="proc,rowStat : ${procedimentos}">
                  <td>
                    <input type="hidden" th:field="*{procedimentos[__${rowStat.index}__].id}"/>
                    <input type="hidden" th:field="*{procedimentos[__${rowStat.index}__].ocs.id}"/>
                    <select th:field="*{procedimentos[__${rowStat.index}__].pm.id}" class="form-select">
                      <option selected value="">--- Selecione ---</option>
                      <option th:each="p : ${allProcedimentos}" th:value="${p.key}" th:text="${p.value}">Procedimento</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-select" th:field="*{procedimentos[__${rowStat.index}__].unidadeMedida}">
                      <option th:each="um : ${unidadeMedidaMap}" th:value="${um.key}" th:text="${um.value}">Unidade</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" th:field="*{procedimentos[__${rowStat.index}__].valorUnitario}" th:errorclass="text-danger" />
                  </td>
                  <td>
                    <input type="text" class="form-control" th:field="*{procedimentos[__${rowStat.index}__].chQtd}" th:errorclass="text-danger" />
                  </td>
                  <td>
                    <button type="submit" class="btn btn-sm btn-danger"  name="removeRow" th:value="${rowStat.index}"><i class="bi bi-trash" style="color: white;" title="Excluir"></i></button>
                  </td>
                </tr>
            </tbody>
          </table>
          </div>
        </div>

        <hr class="border-2 border-secondary" />
          
        <div class="submit text-center">
          <button type="submit" class="btn btn-primary my-3" name="save" th:text="#{form.save}">Salvar</button>
          <button type="reset" class="btn btn-secondary ms-2" th:text="#{form.reset}">Limpar</button>
        </div>
                  
      </form>

    </div>
  
  </div>

  <div th:insert = "~{index :: load-js}"></div>

</body>

</html>
