<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert = "~{index :: meta}">
</head>

<body>

  <div th:replace = "~{index :: header}"></div>

  <div class="container-fluid row">
   
    <div th:replace = "~{index :: menu}"></div>

    <div class="col-md-9 col-lg-10 ms-sm-auto p-md-4">

      <div th:replace="~{list-title :: div-content(#{ocspm.titulo})}"></div>

      <table class="table table-striped table-sm">

        <thead>
          <tr>
            <th scope="col">...</th>
            <th scope="col">C&oacute;digo</th>
            <th scope="col">Descri&ccedil;&atilde;o</th>
            <th scope="col">Unidade de Medida</th>
            <th scope="col" class="text-end">Valor Unit&aacute;rio</th>
            <th scope="col" class="text-end">CH</th>
          </tr>
        </thead>

        <tbody>
          <tr th:if="${listOcsPm.empty}">
            <td colspan="6">Sem Procedimentos M&eacute;dicos</td>
          </tr>
			
          <tr th:each="op : ${listOcsPm}">
            <td>
              <form th:action="@{/ocspm(ocsid=${ocs.id} ,id=${op.id})}" method="post" class="d-inline">
                <input type="hidden" name="id" th:value="${ocs.id}" />
                <button type="submit" name="delete" class="btn btn-sm">
                  <i class="bi bi-trash" style="font-size: 1rem; color: cornflowerblue;" title="Excluir"></i>
                </button>
              </form>
<!--             
              <a th:href="@{/ocspm/delete(ocsid=${ocs.id} ,id=${op.id})}">
                <i class="bi bi-trash" style="font-size: 1rem; color: cornflowerblue;" title="Excluir"></i>
              </a>
 -->              
            </td>
            <td><a th:href="@{/ocspm(ocsid=${op.ocs.id},id=${op.id})}" title="Editar">[[${op.pm.tuss}]]</a></td>
            <td><span th:text="${op.pm.descricao}"> Descricao </span></td>
            <td><span th:text="${unidadeMedidaMap[op.UnidadeMedida]}"> Unidade </span></td>
            <td class="text-end" th:text="${#numbers.formatCurrency(op.valorUnitario)}"> Valor </td>
            <td class="text-end" th:text="${op.chQtd}"> CH </td>
          </tr>
        </tbody>

        <tfoot><tr><td colspan="6"><small th:text="${'Total de procedimentos = ' + listOcsPm.size}">0</small></td></tr></tfoot>

      </table>

      <div th:replace="~{edit-title :: div-title(#{ocspm.editar})}"></div>

      <form action="#" th:action="@{/ocspm}" th:object="${ocspm}" method="post">
          
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" name="ocs.id" th:value="${ocs.id}" />

        <div class="form-group row mt-1">
          <div class="col-sm-6">
             <strong><span th:text="#{ocspm.procedimento}">Procedimento</span></strong>
          </div>
          <div class="col-sm-2">
             <strong><span th:text="#{ocspm.unidadeMedida}">Unidade</span></strong>
          </div>
          <div class="col-sm-2">
             <strong><span th:text="#{ocspm.valorUnitario}">Valor</span></strong>
          </div>
          <div class="col-sm-1">
             <strong><span th:text="#{ocspm.ch}">CH</span></strong>
          </div>
        </div>
        
        <div class="form-group row mt-1">
          <div class="col-sm-6">
            <select th:field="*{pm.id}" class="form-select">
              <option selected value="">--- Selecione ---</option>
              <option th:each="p : ${allProcedimentos}" th:value="${p.key}" th:text="${p.value}">Procedimento</option>
            </select>
          </div>
          <div class="col-sm-2">
            <select th:field="*{unidadeMedida}" class="form-select">
              <option selected value="">--- Selecione ---</option>
              <option th:each="um : ${unidadeMedidaMap}" th:value="${um.key}" th:text="${um.value}">OCS</option>
            </select>
          </div>
          <div class="col-sm-2">
            <input type="text" th:field="*{valorUnitario}" th:errorclass="text-danger" maxlength="11" class="form-control"/>
          </div>
          <div class="col-sm-1">
            <input type="text" th:field="*{chQtd}" th:errorclass="text-danger" maxlength="6" class="form-control"/>
          </div>
        </div>

        <hr class="border-2 border-secondary" />

        <div class="submit text-center">
          <button type="submit" class="btn btn-primary my-3" name="save" th:text="#{form.save}">Salvar</button>
          <button type="reset" class="btn btn-secondary ms-2" th:text="#{form.reset}">Limpar</button>
        </div>

        <ul th:if="${#fields.hasErrors('*')}" class="error">
          <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Erros no formul&aacute;rio</li>
        </ul>
                  
      </form>
      
    </div>
  
  </div>

  <div th:insert = "~{index :: load-js}"></div>

</body>

</html>
