<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert = "~{index :: meta}">
</head>

<body>

  <div th:replace = "~{index :: header}"></div>

  <div class="container-fluid row">
   
    <div th:replace = "~{index :: menu}"></div>

    <div class="col-md-9 col-lg-10 ms-sm-auto p-md-4">

      <h4>Procedimentos M&eacute;dicos</h4>  

      <hr class="my-3" />

      <table class="table table-striped table-sm">

        <thead>
          <tr>
            <th scope="col" class="text-center">TUSS</th>
            <th scope="col">Descri&ccedil;&atilde;o</th>
            <th scope="col" class="text-center">AMB 90</th>
            <th scope="col" class="text-center">AMB 92</th>
            <th scope="col" class="text-center">AMB 96</th>
            <th scope="col" class="text-center">AMB 99</th>
            <th scope="col" class="text-end">Auxiliare(s)</th>
            <th scope="col" class="text-end">Porte Anest&eacute;sico</th>
            <th scope="col" class="text-end">CH (QTD)</th>
          </tr>
        </thead>

        <tbody>
          <tr th:if="${allProcedimentos.empty}">
            <td colspan="9">Sem procedimentos m&eacute;dicos</td>
          </tr>
			
          <tr th:each="pm : ${allProcedimentos}">
            <td class="text-center"><span th:text="${pm.tuss}"> TUSS </span></td>
            <td><span th:text="${pm.descricao}"> Descricao </span></td>
            <td class="text-center"><span th:text="${pm.amb90}"> AMB 90 </span></td>
            <td class="text-center"><span th:text="${pm.amb92}"> AMB 92 </span></td>
            <td class="text-center"><span th:text="${pm.amb96}"> AMB 96 </span></td>
            <td class="text-center"><span th:text="${pm.amb99}"> AMB 99 </span></td>
            <td class="text-end"><span th:text="${pm.auxiliaresQtd}"> Aux </span></td>
            <td class="text-end"><span th:text="${pm.porteAnestesico}"> Porte Anest </span></td>
            <td class="text-end"><span th:text="${pm.chQtd}"> CH </span></td>
          </tr>
        </tbody>

      </table>

    </div>
  
  </div>

</body>

</html>
