<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert = "~{index :: meta}">
</head>

<body>

  <div th:replace = "~{index :: header}"></div>

  <div class="container-fluid row">
   
    <div th:replace = "~{index :: menu}"></div>

    <div class="col-md-9 col-lg-10 ms-sm-auto p-md-4">

      <h4 class="shadow p-3 mb-3 bg-body-tertiary rounded">Profissionais de Sa&uacute;de</h4>  

      <hr class="my-3" />

      <table class="table table-striped table-sm">

        <thead>
          <tr>
            <th scope="col">...</th>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Especialidade</th>
            <th scope="col">Registro</th>
            <th scope="col">CNS</th>
          </tr>
        </thead>

        <tbody>
          <tr th:if="${allProfissionais.empty}">
            <td colspan="6">Sem profissionais de sa&uacute;de</td>
          </tr>
			
          <tr th:each="prof : ${allProfissionais}">
            <td>
              <a th:href="@{/profissionais/delete(cpf=${prof.cpf})}">
                <i class="bi bi-trash" style="font-size: 1rem; color: cornflowerblue;" title="Excluir"></i>
              </a>
            </td>
            <td><a th:href="@{/profissionais(cpf=${prof.cpf})}" title="Editar">[[${prof.cpf}]]</a></td>
            <td><span th:text="${prof.nome}"> Nome </span></td>
            <td><span th:text="${prof.cbo.descricao}"> Especialidade </span></td>
            <td><span th:text="${prof.registroProfissional}"> Registro </span></td>
            <td><span th:text="${prof.cns}"> CNS </span></td>
          </tr>
        </tbody>

        <tfoot><tr><td colspan="6"><small th:text="${'Total de profissionais = ' + allProfissionais.size}">0</small></td></tr></tfoot>

      </table>

      <h5 class="shadow-sm p-3 my-3 bg-body-tertiary rounded">Editar Profissional de Sa&uacute;de</h5>

      <hr class="my-3" />

      <form action="#" th:action="@{/profissionais/save}" th:object="${profissional}" method="post">
          
        <div class="form-group row mt-1">
          <label for="cpf" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{profissional.cpf}">CPF</span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{cpf}" th:errorclass="error" maxlength="11" class="form-control" placeholder="00000000000"/>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger">Erro de CPF</small>
          </div>
        </div>
          
        <div class="form-group row mt-1">
          <label for="nome" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{profissional.nome}">Nome</span></strong>
          </label>
          <div class="col-sm-6">
            <input type="text" th:field="*{nome}" th:errorclass="error" maxlength="255" class="form-control"/>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger">Erro de nome</small>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="cbo.codigo" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{profissional.cbo.codigo}"><strong>Especialidade</strong></span></strong>
          </label>
          <div class="col-sm-4">
            <select th:field="*{cbo.codigo}" class="form-select">
              <option selected value="">--- Selecione ---</option>
              <option th:each="cbo : ${listCbo}" th:value="${cbo.codigo}" th:text="${cbo.descricao}"> CBO </option>
            </select>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('cbo.codigo')}" th:errors="*{cbo.codigo}" class="text-danger">Erro de CBO</small>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="cns" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{profissional.cns}"><strong>CNS</strong></span></strong>
          </label>
          <div class="col-sm-2">
            <input type="text" th:field="*{cns}" th:errorclass="error" maxlength="10"  class="form-control" placeholder="0000000000"/>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('cns')}" th:errors="*{cns}" class="text-danger">Erro de CNS</small>
          </div>
        </div>

        <div class="form-group row mt-1">
          <label for="registroProfissional.conselho" class="col-sm-2 form-label my-1 text-end">
            <strong><span th:text="#{profissional.registro}"><strong>Registro</strong></span></strong>
          </label>
          <div class="col-sm-2">
            <select th:field="*{registroProfissional.conselho}" class="form-select">
              <option selected value="">--- Conselho ---</option>
              <option th:each="con : ${allConselho}" th:value="${con}" th:text="${con}"> Conselho </option>
            </select>
          </div>
          <div class="col-sm-2">
            <select th:field="*{registroProfissional.uf}" class="form-select">
              <option selected value="">--- UF ---</option>
              <option th:each="uf : ${allUf}" th:value="${uf}" th:text="${uf}"> UF </option>
            </select>
          </div>
          <div class="col-sm-2">
            <input type="text" th:field="*{registroProfissional.numero}" th:errorclass="error" maxlength="10" class="form-control" placeholder="0000-0"/>
          </div>
          <div class="col-sm-4">
            <small th:if="${#fields.hasErrors('registroProfissional')}" th:errors="*{registroProfissional}" class="text-danger">Erro de registro</small>
          </div>
        </div>
          
        <hr class="my-3" />
        
        <div class="submit text-center">
          <button type="submit" class="btn btn-primary my-3" name="save" th:text="#{profissional.save}">Novo</button>
        </div>
                  
      </form>

    </div>
  
  </div>

</body>

</html>
