<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Fragmento Titulo de Página</title>
</head>

<body>
  <div th:fragment="titulo(texto)">
    <h4 class="shadow p-3 mb-3 bg-body-tertiary rounded d-flex align-items-center w-100 m-0">
      <span class="flex-grow-1" th:text="${texto}">Título da Página</span>
      <a href="#" class="text-secondary ms-auto" th:href="@{/}">
        <i class="bi bi-arrow-left-circle" style="font-size: 1rem; color: cornflowerblue;" title="Voltar"></i>
      </a>
      <a href="#" class="text-secondary ms-auto px-1" th:href="@{/}">
        <i class="bi bi-question-circle" style="font-size: 1rem; color: cornflowerblue;" title="Ajuda"></i>
      </a>
    </h4>
  </div>
</body>

</html>
